<template>
  <ul>
    <template x-for="fruit in fruits">
      <li x-text="fruit"></li>
    </template>
  </ul>
  <hr>
  <table>
    <tr><th>id</th><th>title</th></tr>
    <template x-for="task in tasks">
      <tr><td x-text="task.id"></td><td x-text="task.title"></td></tr>
    </template>
  </table>
  <hr>
  <ul>
    <li x-for="color in colors" x-text="color"></li>
  </ul>
</template>

<script>
export default class {
  initialize() {
    this.fruits = ['apple', 'banana', 'cherry']

    this.tasks = [
      { id: 1, title: 'pay taxes' },
      { id: 2, title: 'walk the dog' },
      { id: 3, title: 'clean the house' },
    ]

    this.colors = ['red', 'blue', 'green']
  }
}
</script>

