<template>
  <h1>Props</h1>
  <x-echo :message="`hello`.toUpperCase()" />
  <hr>
  <x-echo message="static" />
  <hr>
  <x-echo :style="`color: red`" message="red" />
  <hr>
  <x-echo :class="`large`" message="large" />
  <hr>
  <x-echo message="bogus" bogus="invalid" />
  <hr>
  <x-echo message="data-attribute" data-delay="0" />
  <hr>
  <x-echo message="aria-label" aria-label="greeting" />
  <hr>
  <x-echo message="title-attribute" title="hello" />
  <hr>
  <x-echo :message="'dynamic-' + 'concat'" />
  <hr>
  <x-echo message="" />
  <hr>
  <x-echo :message="`template-${`literal`}`" />
  <hr>
  <input type="checkbox" checked> Static checkbox on
  <hr>
  <input type="checkbox"> Static checkbox off
  <hr>
  <input type="checkbox" :checked="true"> Dynamic checkbox on
  <hr>
  <input type="checkbox" :checked="false"> Dynamic checkbox off
  <hr>
  <input type="checkbox" :checked="isChecked"> Dynamic checkbox
  <button @click="toggleChecked">Toggle checked</button>
  <hr>
  <div :contenteditable="isEditable">Content</div>
  <button @click="toggleEditable">Toggle editable</button>
  <hr>
  <x-defaulting-test name="Alice" />
  <hr>
  <x-defaulting-test :name="'Bob'" />
  <hr>
  <x-defaulting-test />
</template>

<script>
export default class {
  initialize() {
    this.isEditable = false
    this.isChecked = false
  }
  toggleChecked() {
    this.isChecked = !this.isChecked
  }
  toggleEditable() {
    this.isEditable = !this.isEditable
  }
}
</script>
