.dark body {
  &:after {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
      radial-gradient(200vw circle at calc(100% + 100px) calc(100% + 100px), #cc88ff18 0%, transparent 50%),
      radial-gradient(200vw circle at calc(0% - 100px) calc(0% - 100px), #88ccff18 0%, transparent 50%),
      radial-gradient(200vw circle at calc(0% - 200px) calc(100% + 100px), #88aa8818 0%, transparent 50%);

    pointer-events: none;
    z-index: 100;
  }
}
.aside-curtain {
  display: none;
}

img[src="code-hero.svg"] {
  max-width: 100% !important;
  max-height: 360px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: unset !important;
  left: unset !important;
  transform: scale(1) !important;
  background: #101018;
  padding: 24px 48px 24px 24px;
  border-radius: 12px;
  padding-right: 32px;
  position: relative !important;
}

.image-container {
  width: auto !important;
  height: auto !important;
  transform: scale(1) !important;
}
.main {
  order: unset !important;
}
.main + .image {
  order: unset;
  margin: 0;
}

.VPHero {
  padding-top: 15vh !important;
  & > .container {
    align-items: center;
  }
  .actions {
    margin-bottom: 24px;
  }
}

@media (min-width: 960px) {
  .VPHero.has-image .main {
    max-width: 420px !important;
    order: unset;
    padding-right: 20px;
  }
}
